# OS X meta file for folder options
.DS_Store

# bower and npm packages
bower_components
node_modules

#project specific files ai, psd, pdf
comps

#files and folders that are deleted and recreated every time gulp runs
dist
.publish

#npm error log
npm-debug.log